<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p>From here you can manage your blog posts.</p>

                    <button class="btn btn-info bg-theme" routerLink="/posts/new">Add New Post</button>
                    <button class="btn btn-warning ml-2" routerLink="/">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">

                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Post Image</th>
                                <th>Title</th>
                                <th>Excerpt</th>
                                <th>Category</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>   
                            <tr *ngFor="let post of postArray; let i = index">
                                <td >{{i+1}}</td>
                                <td ><img src="{{post.data.postImgPath}}" class="img img-fluid"></td>
                                <td >{{post.data.title}}</td>
                                <td >{{post.data.excerpt}}</td>
                                <td>{{post.data.category.category}}</td>
                                <td>{{post.data.createAt.toMillis() | date}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" routerLink="/posts/new" [queryParams]="{id: post.id}">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>